<section class="py-20 min-h-screen">
  <div class="text-center px-6">
    <p class="text-lg">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis quod et in modi nam, quis pariatur est aut, amet reprehenderit doloremque natus animi nostrum deleniti possimus provident voluptate inventore.
    </p>
  </div>
</section>
