<section class="py-20 min-h-screen">
  <div class="text-center px-6">
    <p class="text-lg">
       Lorem ipsum, dolor sit amet consectetur 
       adipisicing elit. Non nesciunt dicta itaque 
       optio et assumenda, molestiae quia reiciendis 
       quis in deleniti nulla. Et dolores id aliquid minus at sed sit distinctio repellendus, rerum alias nostrum quia eius earum, aliquam 
       dolorem accusantium architecto neque vel facere ipsa laborum laudantium iure dolor. Pariatur repellat recusandae tempora, voluptatibus aliquid
        earum sed nisi numquam cum libero quasi amet consequatur, error labore perferendis minima illo consequuntur beatae corrupti in quis sapiente esse. Ea doloribus ut a sed at sint 
        eius assumenda, placeat rem repellat libero.
    </p>
    </div>
</section>