<section class="py-20 min-h-screen">
  <div class="text-center px-6">
    <p class="text-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Exercitationem reprehenderit deleniti consequuntur quidem similique nesciunt.
    </p>
  </div>
</section>
